<a href="https://colab.research.google.com/github/MarRazane/MarRazane/blob/master/Churn%20Prediction%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Churn Prediction Analysis**

we are going to predict customer churn for a telecom company using the K-Nearest Neighbor algorithm.

**Import python libraries**

In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn import metrics


%matplotlib inline

***Upload the Data***

In [40]:
dataset = pd.read_excel(r'/content/Churn.xlsx')
#print(data)
#print only the first 10 rows
dt = dataset.head(10)
print(dt)

   intl_plan  voice_mail_plan  number_vmail_messages  total_day_minutes  \
0        0.0              1.0                   25.0              265.1
1        0.0              1.0                   26.0              161.6
2        0.0              0.0                    0.0              243.4
3        1.0              0.0                    0.0              299.4
4        1.0              0.0                    0.0              166.7
5        1.0              0.0                    0.0                NaN
6        0.0              NaN                   24.0              218.2
7        1.0              0.0                    0.0              157.0
8        0.0              0.0                    0.0              184.5
9        1.0              1.0                   37.0              258.6

   total_day_calls  total_day_charge  total_eve_minutes  total_eve_calls  \
0            110.0             45.07              197.4             99.0
1            123.0             27.47              195.5            103.0
2            114.0             41.38              121.2              NaN
3              NaN             50.90               61.9             88.0
4            113.0             28.34              148.3            122.0
5             98.0             37.98              220.6            101.0
6             88.0               NaN              348.5            108.0
7             79.0             26.69              103.1             94.0
8             97.0             31.37              351.6             80.0
9             84.0             43.96              222.0            111.0

   total_eve_charge  total_night_minutes  total_night_calls  \
0             16.78                244.7               91.0
1             16.62                254.4              103.0
2             10.30                162.6              104.0
3              5.26                  NaN               89.0
4             12.61                186.9              121.0
5             18.75                203.9              118.0
6             29.62                212.6              118.0
7              8.76                211.8               96.0
8             29.89                215.8               90.0
9             18.87                326.4               97.0

   total_night_charge  total_intl_minutes  total_intl_calls  \
0               11.01                10.0               3.0
1                 NaN                 NaN               3.0
2                7.32                12.2               5.0
3                8.86                 6.6               7.0
4                8.41                10.1               3.0
5                9.18                 6.3               6.0
6                9.57                 7.5               7.0
7                9.53                 7.1               6.0
8                9.71                 8.7               4.0
9               14.69                11.2               5.0

   total_intl_charge  number_customer_service_calls  churned
0               2.70                            1.0    False
1               3.70                            1.0    False
2               3.29                            0.0    False
3               1.78                            2.0    False
4               2.73                            3.0    False
5               1.70                            0.0    False
6               2.03                            3.0    False
7               1.92                            0.0    False
8               2.35                            1.0    False
9                NaN                            NaN    False

***Number of user***

In [41]:
print(len(dataset['churned']))

5000

In [42]:
dataset.describe()

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,4815.000000,4597.000000,4839.000000,4630.000000,4621.000000,4663.000000,4894.000000,4565.000000,4624.000000,4537.000000,4822.000000,4904.000000,4691.000000,4680.000000,4697.000000,4593.000000
mean,0.095119,0.263215,7.753255,180.353024,100.102575,30.709348,200.652166,100.356407,17.047641,200.144523,99.960390,9.015475,10.261224,4.432265,2.766934,1.568909
std,0.293410,0.440426,13.525422,53.902352,19.819299,9.164254,50.513622,19.850245,4.284928,50.936037,19.998369,2.275332,2.760720,2.458918,0.745717,1.303008
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,143.700000,87.000000,24.430000,166.425000,87.000000,14.157500,166.700000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000
50%,0.000000,0.000000,0.000000,180.100000,100.000000,30.670000,201.000000,101.000000,17.060000,200.300000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000
75%,0.000000,1.000000,17.000000,216.275000,113.000000,36.860000,233.900000,114.000000,19.860000,234.600000,113.000000,10.540000,12.000000,6.000000,3.240000,2.000000
max,1.000000,1.000000,52.000000,351.500000,165.000000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

***Filiing the missing Values***

In [43]:
dataset.fillna(dataset.mean(), inplace=True)

In [44]:
dataset.describe()

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,0.095119,0.263215,7.753255,180.353024,100.102575,30.709348,200.652166,100.356407,17.047641,200.144523,99.960390,9.015475,10.261224,4.432265,2.766934,1.568909
std,0.287930,0.422300,13.305837,51.869222,19.053191,8.849967,49.975201,18.966934,4.120633,48.519923,19.639099,2.253379,2.674035,2.378915,0.722764,1.248839
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,146.775000,88.000000,24.890000,167.200000,89.000000,14.340000,170.200000,87.000000,7.540000,8.700000,3.000000,2.350000,1.000000
50%,0.000000,0.000000,0.000000,180.353024,100.102575,30.709348,200.652166,100.356407,17.047641,200.144523,99.960390,9.015475,10.261224,4.000000,2.766934,1.000000
75%,0.000000,0.263215,14.000000,213.725000,112.000000,36.410000,233.200000,112.000000,19.590000,229.900000,113.000000,10.500000,11.900000,5.000000,3.210000,2.000000
max,1.000000,1.000000,52.000000,351.500000,165.000000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

***Separate the data into the features and labels***

In [45]:

X = dataset[dataset.columns.difference(['churned'])]
Y = dataset['churned']

***Split the data into 70% training set and 30% test set***

In [46]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

***N-Nearest Neighbors classifier of 5 neighbors***

In [47]:
knn = KNeighborsClassifier(n_neighbors=5)

***Fit the model to the training set***

In [48]:
knn.fit(X, Y)

KNeighborsClassifier()

***Use the model to make a prediction on the test set***

In [49]:
Y_pred = knn.predict(X)

***The model accuracy***

In [50]:
print(metrics.accuracy_score(Y, Y_pred))

0.9014